app
node_modules
**/node_modules
.git
.next
.anchor
test-ledger
tests
programs
migrations
*.md
.env
.env.local
scripts/.maker.json
scripts/.taker.json
target/deploy
target/debug
target/release
target/sbf-solana-solana
